/* 
    #22272e
    #768390
*/
.content {
    color: #768390;
}
.row {
    background-color: #22272e;
    padding-top: 3rem;
}

.title {
    margin-left: 10rem;
}
.second-title {
    margin-left: 2rem;
}
.btn {
    width: 25%;
    margin-left: 2rem;
    margin-top: 1rem;
}
.navbar-brand {
    color: #768390;
}
.ico {
    width: 2rem;
    margin-bottom: 4px;
}
#about-me {
    margin: auto;
    margin-top: 3rem;
}
.first {
    margin: auto;
    /* background-color: white; */
    width: 500px;
    height: 250px;
}
.first-content {
    display: flex;
    justify-content: center;
    background-color: #394049;
    color: #768390;
    height: 35px;
    border-radius: 10px;
}